<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addcourseform">
        <button type="submit" name="btnadd" id="add" value="add">Add New Course</button>
    </form>

    <table border="2">
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Course Quantity</th>
        </tr>
        <% for(var i=0;i<coursdata.length;i++){%>
            <tr>
                <td><%=coursdata[i].cid%></td>
                <td><%=coursdata[i].cname%></td>
                <td><%=coursdata[i].qty%></td>
                <td>
                    <a href="deletecourse/<%=coursdata[i].cid%>">Delete</a>
                    <a href="editcourse/<%=coursdata[i].cid%>">Edit</a>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>